.poker-hand {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 2px;
    width: 95%;
}

.title-container {
    font-size: larger;
    font-weight: bold;
    text-align: left;
}

.description-container {
    font-size: medium;
    text-align: left;
}

.cards-container {
    max-width: 100%;
    white-space: nowrap;
    justify-content: center;
    align-items: left;
}

.on-card {
    max-width:20%;
    height: auto;
    border-color: #000000 #000000 #000000 #000000;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    margin: 1px;
}

.off-card {
    max-width:20%;
    height: auto;
    border-color: #000000 #000000 #000000 #000000;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
    margin: 1px;

    opacity: 0.2;
    filter: alpha(opacity=20);
}

.inline-image {
    height: 1em;
}